<div class="row">
    <div class="col-md-6">
        <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
            <div class="mb-3">
                <label for="txtUserID" class="form-label">Email address</label>
                <input type="text" class="form-control" id="txtUserID" formControlName="userName">
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="txtPassword" formControlName="password">
            </div>
            <button type="submit" [disabled]="!loginFormGroup.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>